<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- ********************* -->
  <!-- MANAGER CONFIGURATION -->
  <!-- ********************* -->
  <configSections>
    <section name="Tenaris.Manager.CycleTime.CycleTimeManager" type="Tenaris.Library.Proxy.Factories.RemoteTargetProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="ClientProxyFactory" type="Tenaris.Library.Proxy.Configuration.ProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="ServerProxyFactory" type="Tenaris.Library.Proxy.Configuration.ProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="ManagerProxyFactory" type="Tenaris.Library.Proxy.Configuration.ProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <!-- Configuración de Proxy Dinamico para los objetos SAO (los managers) -->
  <ManagerProxyFactory factoryType="Tenaris.Library.Proxy.Factories.PipeProxyFactory, Tenaris.Library.Proxy">
    <Configuration>
      <Components>
        <Component type="Tenaris.Library.Proxy.Components.ConnectionMonitorComponent, Tenaris.Library.Proxy">
          <Interval>5000</Interval>
        </Component>
      </Components>
      <Dispatcher type="Tenaris.Library.Proxy.Dispatchers.RemotingMessageDispatcher, Tenaris.Library.Proxy" />
      <EventListener type="Tenaris.Library.Proxy.EventListeners.ProxyEventListener, Tenaris.Library.Proxy" />
    </Configuration>
  </ManagerProxyFactory>
  <!-- Configuración de Proxy Dinamico para los objetos CAO (MarshallByRefObject devueltos como resultado de un método) -->
  <ClientProxyFactory>
    <Configuration>
      <Interceptors />
    </Configuration>
  </ClientProxyFactory>
  <ServerProxyFactory>
    <Configuration>
      <Interceptors />
    </Configuration>
  </ServerProxyFactory>
  <!-- Configuración de un manager particular -->
  <Tenaris.Manager.CycleTime.CycleTimeManager url="tcp://172.29.108.142:9002/CycleTimeManager.soap" instanceType="Tenaris.Manager.CycleTime.Common.ICycleTimeManager, Tenaris.Manager.CycleTime.Common" proxyFactoryName="ManagerProxyFactory">
  </Tenaris.Manager.CycleTime.CycleTimeManager>
  <!-- Configuración de Remoting -->
  <!-- 
        ClientRemotingInterceptorProvider es el provider que permite interceptar todos los mensajes, tanto los SAO como los CAO
        Se le debe especificar que configuración de proxy se debe utilizar. En este proxy se deberia colocar todos los interceptors
  -->
  <system.runtime.remoting>
    <application name="Client">
      <channels>
        <channel ref="tcp" port="0">
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy" proxyFactoryName="ClientProxyFactory" />
            <formatter ref="binary" typeFilterLevel="Full" />
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
            <!--<provider type="Tenaris.Library.Proxy.Remoting.ServerRemotingInterceptorProvider, Tenaris.Library.Proxy" proxyFactoryName="ServerProxyFactory"/>-->
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL" />
        <param name="LevelMax" value="OFF" />
      </filter>
      <param name="DatePattern" value="'.'yyyyMMdd'.log' " />
      <param name="File" value="D:\Appls\Tenaris\Automation\Development\Logs\CycleTimeClient\CycleTimeClient" />
      <param name="AppendToFile" value="false" />
      <param name="rollingStyle" value="Date" />
      <param name="maxSizeRollBackups" value="10" />
      <param name="maximumFileSize" value="4MB" />
      <param name="staticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[BEGIN_LOG %date{yyyy-MM-dd HH:mm} ===] %newline" type="log4net.Util.PatternString" />
        <param name="Footer" value="[END_LOG %date{yyyy-MM-dd HH:mm} =====]" type="log4net.Util.PatternString" />
      </layout>
    </appender>
    <root>
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <log maxQueueSize="10000" dumpStack="true" msgFormat="{IdentString} {Message}">
  </log>
  <!-- ********************* -->
  <!-- ********************* -->
  <!-- ********************* -->
  <connectionStrings>
    <add name="Level2" connectionString="Application Name=DbClientTest;Data Source=172.29.12.252;Initial Catalog=Level2;User ID=user3t;Password=user3t;Persist Security Info=True;MultipleActiveResultSets=False;Max Pool Size=3;Connection Lifetime=60;" providerName="System.Data.SqlClient" />
    <add name="Level2Asyn" connectionString="Application Name=DbClientTest;Data Source=172.29.12.252;Initial Catalog=Level2;User ID=user3t;Password=user3t;Persist Security Info=True;MultipleActiveResultSets=False;Max Pool Size=3;Connection Lifetime=60;Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
    <add name="Level2Mars" connectionString="Application Name=DbClientTest;Data Source=172.29.12.252;Initial Catalog=Level2;User ID=user3t;Password=user3t;Persist Security Info=True;MultipleActiveResultSets=True;Max Pool Size=3;Connection Lifetime=60;" providerName="System.Data.SqlClient" />
    <add name="CycleTimeMine" connectionString="Application Name=CycleTimeView;Data Source=172.29.125.40\FIN,50733;Initial Catalog=Level2_GerardoQ;User ID=GerardoQ;Password=GerardoQ&quot;#$%F345HC;Persist Security Info=True;MultipleActiveResultSets=True;Max Pool Size=3;Connection Lifetime=60;" providerName="System.Data.SqlClient" />
    <add name="CycleTime" connectionString="Application Name=CycleTimeView;Data Source=10.92.21.16\FIN,50733;Initial Catalog=Level2_StivensM;User ID=GerardoQ;Password=GerardoQ&quot;#$%F345HC;Persist Security Info=True;MultipleActiveResultSets=True;Max Pool Size=3;Connection Lifetime=60;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="StoreProcedureTestDbClient" value="Common.TestDbClient" />
    <add key="StoreProcedureTestDbClientDetail" value="Common.TestDbClientDetail" />
    <add key="StoreProcedureTestDbClientMaster" value="Common.TestDbClientMaster" />
    <add key="StoreProcedureTestDbClientOutputParameter" value="Common.TestDbClientOutputParameter" />
    
    <add key="StoreProcedureGetCycleTimeElements" value="CycleTime.GetCycleTimeElements" />
    <add key="StoreProcedureGetProductionDetails" value="CycleTime.GetProductionDetails" />
    <add key="StoreProcedureGetElementsByCampaign" value="CycleTime.GetElementsByCampaign" />
    <add key="StoreProcedureGetCycleTimes" value="CycleTime.GetCycleTimes" />
    <add key="StoreProcedureSearchCycleTimes" value="CycleTime.SearchCycleTimes" />
    <add key="StoreProcedureGetMachinesCatalog" value="CycleTime.GetMachinesCatalog" />
    <add key="StoreProcedureGetElementsCatalog" value="CycleTime.GetElementsCatalog" />
    <add key="StoreProcedureGetCatalogComments" value="CycleTime.GetCatalogComments" />
    <add key="StoreProcedureSaveComment" value="CycleTime.SaveComment" />    
    <add key="StoreProcedureGetShifts" value="CycleTime.GetShifts" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="Langueje" value="es-MX"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
